### List Comprehensions

In [1]:
numbers = [1, 13, 4, 5, 63, 100]
numbers

[1, 13, 4, 5, 63, 100]

In [3]:
new_numbers = []

for n in numbers:
    new_numbers.append(n * 2)
    
print(new_numbers)

[2, 26, 8, 10, 126, 200]

In [5]:
new_numbers = [n * 2 for n in numbers]
print(new_numbers)

[2, 26, 8, 10, 126, 200]

In [6]:
for i in range(2):
    for j in range(5):
        print(i + j, end = " ")

0 1 2 3 4 1 2 3 4 5

In [7]:
new_list_comprehension_1 = [i + j for i in range(2) for j in range(5)]
new_list_comprehension_1

[0, 1, 2, 3, 4, 1, 2, 3, 4, 5]

In [8]:
type(new_list_comprehension_1)

list

In [9]:
print(new_list_comprehension_1)

[0, 1, 2, 3, 4, 1, 2, 3, 4, 5]

In [10]:
new_list_comprehension_2 = [[i + j for i in range(2)] for j in range(5)]
new_list_comprehension_2

[[0, 1], [1, 2], [2, 3], [3, 4], [4, 5]]

In [11]:
type(new_list_comprehension_2)

list

In [12]:
type(new_list_comprehension_1[1])

int

In [13]:
type(new_list_comprehension_2[2])

list

In [14]:
list(range(1, 11))

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [16]:
[num ** 3 for num in range(1, 11) if num % 2 != 0]

[1, 27, 125, 343, 729]

In [17]:
for i in range(1, 11):
    if i % 2 != 0:
        print(i ** 3, end = " ")

1 27 125 343 729

In [18]:
[num ** 3 if num % 2 != 0 for num in range(1, 11)]

SyntaxError: invalid syntax (Temp/ipykernel_15128/3287091736.py, line 1)

In [21]:
[num ** 3 if num % 2 != 0 else "even" for num in range(1, 11)]

[1, 'even', 27, 'even', 125, 'even', 343, 'even', 729, 'even']